:root{
    --color-100: hsl(225, 100%, 98%);
    --color-200:hsl(225, 100%, 94%);
    --color-500: hsl(245, 75%, 52%);
    --color-600: hsl(224, 23%, 55%);
    --color-700: hsl(223, 47%, 23%);

    --spacing-small: 1.8rem;
    --spacing-normal: 2.4rem;
    --spacing-large: 3.2rem;
}