@import './reset';
@import './variables';

body{
    background-image: url('../img/pattern-background-desktop.svg');
    background-color: var(--color-200);
    background-repeat: repeat-x;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    max-width: 37.5rem;
    border-radius: 2rem;
    background-color: var(--color-100);

    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card h1{
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-normal);
    text-align: center;
}

.card p{
    max-width: 30ch;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.plan-component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 3rem;
    padding: 2rem;
    background-color: #ebeff9;
    border-radius: 1rem;
}

.plan-component__left-box{
    display: flex;
    column-gap: var(--spacing-small);
    h2{
        font-size: 1.8rem;
    }
}

a.btn{
    display: block;
    
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 2rem;

    text-align: center;
    border-radius: 1rem;

    font-weight: 500;
}

.btn--primary{
    transition: all .2s ease-in-out;
    background-color: var(--color-500);
    color: var(--color-100);

    &:hover{
        background-color: #483fb0;
        box-shadow: 0px 2rem 5px var(--color-200);
        transform: translateY(-.2rem) scale(1.02);
    }

    &:active{
        transform: translateY(.1rem) scale(.98);
    }
}